html {
    scroll-behavior: smooth;
}

body {
}

h1 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 95%;
    font-weight: 900;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.homepage-init-cont {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 13rem;
    background-color: #fff1f7;
}

.main-item-cont {
    margin: 0rem 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-text-cont {
    max-width: 547px;
    min-width: 400px;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.main-img-cont {
    max-width: 547px;
    min-width: 400px;
    height: auto;
}

#main-img {
    max-width: 563px;
    height: auto;
}

.homepage-subheader {
    margin-top: 0.4rem;
    font-size: 110%;
}

.highlighted-blue {
    color: #2654ba;
}

p {
    font-family: "Inter", sans-serif;
}

.highlighted-bold {
    font-weight: 700;
    font-size: 105%;
}

.homepage-btn {
    margin-top: 3rem;
}

#donate-button {
    font-family: sans-serif;
    color: white;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: larger;
    line-height: 150%;
    padding: 1.3rem 6rem;
    border-radius: 0.5rem;
    background-color: #2654ba;

    /* padding: 12px 13px;
    border-radius: 0.5rem;
    background-color: #73848d;
    color: white;
    box-shadow: 0px 0px 0px 0px rgba(58, 58, 58, 0.589);
    transition: all ease-in-out 0.2s; */
}

#donate-button:hover {
    background-color: #123962;
}

.two-panel-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.h-header-cont {
    padding-bottom: 2rem;
}

.sub-header-h {
    text-align: center;
}

.h-panel-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h-panel {
    width: 325px;
    margin-right: 3rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
}

.panel-img-cont {
    text-align: center;
}

.panel-inside-h {
    display: flex;
    flex-direction: column;
}

.panel-img {
    height: 9rem;
    width: auto;
}

.panel-header-text {
    font-family: "Libre Franklin", sans-serif;
    font-size: 200%;
    text-align: center;
}

.panel-btn-container {
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-h {
    background-color: #2654ba;
}

.red-h {
    background-color: #d77064;
}

.blue-h:hover {
    background-color: #123962;
}

.red-h:hover {
    background-color: #aa574e;
}
